body {
  background: #221306;
  margin-right: 0;

}

p {
  width: 495px;
  height: 138px;
  flex-shrink: 0;
  color: #FFF;
  font-family: Poppins;
  font-size: 40px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  padding-top: 80px;
  padding-left: 60px;
}

b {
  color: #E47500;
  font-family: Poppins;
  font-size: 40px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.container {
  position: absolute;
  width: 25%;
  top: 0;
  left: 600px;
  background-color: black;
  margin-left: 480px;
}

.container1 {
  position: absolute;
  width: 25%;
  top: 80px;
  left: 450px;
  margin-left: 450px;
}

h6 {
  color: #FFECD9;
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 153.5%;
  padding-top: 50px;
  padding-left: 60px;
  
}

div {

  width: 500px;
  color: white;
  padding-left: 00px;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  margin-left: 200px;
}

img{
  padding-left: 30px;
}